# Візуалізації (дерево Піфагора, купа, обходи, графіки)
matplotlib>=3.8
networkx>=3.3

# Зазвичай ставиться автоматично як залежність matplotlib,
# але явно вказуємо для сумісності
numpy>=1.26

# Опційно (НЕ обов'язково для цього проєкту):
# scipy>=1.11